langchain>=0.3.2
langchain-community>=0.3.1
langchain-core>=0.3.41
langchain-groq>=0.2.0
langchain-qdrant>=0.2.0
streamlit==1.39.0
pymongo==4.10.1
rapidocr-onnxruntime>=1.4.4
qdrant-client>=1.13.3
fastembed>=0.6.0
pillow>=10.4.0
pymupdf>=1.25.5